*{
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    color:#133C55;
}

.cartelera{
    position: relative;
    width: 80vw; height: 85vh;
    margin: 0 10vw;
    background: #91E5F6;
    padding: 0 100px;
    overflow: auto;
    
}

button{
    width: 10.5em; height: 2em;
    border-radius: 2.4em;
    border: none;
    background: #133C55;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 1.4em;
}
.container-entries{
    height: 200px;
    margin: 20px;
    border: 2px solid #133C55; 
    border-radius: 9px;
    background: white;
}
.button-box{
    position: sticky;
    bottom: 0;
    padding: 15px;
    background: #91E5F6 ;
    width: 100%;
    
}



