/* -------------------------------- 

File#: _1_table-v2
Title: Table v2
Descr: Basic table template
Usage: codyhouse.co/license

-------------------------------- */
.tg  {border-collapse:collapse;
  border-color:#93a1a1;
  border-spacing:0;
}

.tg td{background-color:#fff4c2;
  border-color:#93a1a1;
  border-style:solid;
  border-width:0px;
  color:#002b36;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg th{background-color:#657b83;
  border-color:#93a1a1;
  border-style:solid;
  border-width:0px;color:#fdf6e3;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg .tg-b0u1{border-color:#fd6864;
  font-weight:bold;
  text-align:center;
  vertical-align:top}

.tg .tg-baqh{text-align:center;
  vertical-align:top}

.tg .tg-amwm{font-weight:bold;
  text-align:center;
  vertical-align:top}

.tg .tg-0lax{text-align:left;
  vertical-align:top}
.tg {
  margin-left: auto;
  margin-right: auto;
}