*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    color:#133C55;
}

header{
    position: relative;
    background: #133C55;
    display: flex;
    height: 60px;
    align-items: center;
    
}
#logo{
    position: absolute;
    left: 100px;
    font-family: 'Volkhov', serif;
    font-size: 43px;
    color: #91E5F6;
}
#search-bar{
    width: 400px; height: 25px;
    position: relative;
    left: 700px;
}

nav{
    position:absolute;
    right: 200px;
}
nav ul li{
    display: inline-block;
    margin-left: 25px;
    list-style: none;
    color: white;
    padding: 20px;
    font-family: 'Volkhov', serif; 
    font-size: 18px;

}

h1{
    margin-top: 100px;  
    margin-left: 100px;
    font-family: 'Volkhov', serif;
    font-size: 60px;
} 
main p{
    margin-left: 100px;
    font-family: 'Source Serif Pro', serif;
}

button{
    width: 150px; height: 30px;
    border-radius: 2.4rem;
    border: none;
    background: #386FA4;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
}
.button-box{
    position: absolute;
    right: 200px;
    
}
#iniciar-sesion{
    position: relative;
    top: 100px;
    right: 152px;
    
}
footer{
    position: absolute;
    bottom: 0;
}